@media only screen and (max-width: 600px) {
    .greenBack>div{
        display: block;
       
    }
}

.greenBack{
    background-color:#edffeb ;
    width: 70%;
    /* height: 20% !important; */
    margin: auto;
    display: flex;
    grid-template-columns: 50% 50%;
    border-radius: 1rem;
}
.tick{
    width: 1rem;
}
.qrcode{
    width: 10rem;
    margin: 1rem;
    /* position: absolute;
    float: right !important; */
}
.qrcodecon{
float: right !important;
position: absolute;
}
#Footer{
    place-items: center !important;
}
.mobile{
    width: 26rem;
    height: 30rem;
    float: left;
    margin-top: 3rem;
}
.right{
    display: flex;
    float:right;
    display: flex;
}
.cardimg{
    margin-top: 1rem;
}
.bike{
    position:relative;
    width: 21rem;
    height: 25rem;
    top:-29rem ;
}

@media only screen and (max-width: 600px) {
.feature{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;

}
}
.feature{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
}
.fcard{
    border: 1px solid black;
    border-radius: 1rem;
    height: 15rem;
    margin: 1rem 2rem;
}